<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>도커 연습</title>
</head>
<body>
    <form action="/user/new" role="form" method="post">
        <div>
            <input type="text" placeholder="이름" id="username" name="username">
            <input type="password" placeholder="비밀번호" id="password" name="password">
            <button>회원가입</button>
        </div>
    </form>

    <div>
        <h2>회원 목록</h2>

            <table border="1">
                <thead>
                    <tr>
                        <td>번호</td>
                        <td>이름</td>
                        <td>비밀번호</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userDto, status: ${userDtoList}">
                        <td th:text="${status.index}"></td>
                        <td th:text="${userDto.username}"></td>
                        <td th:text="${userDto.password}"></td>
                    </tr>
              </tbody>
        </table>
    </div>
</body>
</html>